<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Lessons</h1>
        <p class="lead text-muted">In this section you can learn something.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section>
    <div class="container" >
      <div class="row g-3" *ngFor="let lesson of lessons">
        <div class="card mb-3" style="max-width: 1600px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img style="max-width: 250px;" src="https://st3.depositphotos.com/9998432/13335/v/1600/depositphotos_133351974-stock-illustration-default-placeholder-woman.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{lesson.name}}</h5>
                <p class="card-text">{{lesson.description}}</p>
                <p class="card-text"><small class="text-muted">Group: {{lesson.group}}</small></p>
                <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/lesson/', lesson._id]" routerLinkActive="router-link-active" >View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/quiz/lesson/',lesson._id]" routerLinkActive="router-link-active" >Play Quiz</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

