

<div class="row mt-4 mb-4">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>Backoffice</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;" [routerLink]="['/backoffice/lessons']" routerLinkActive="router-link-active" >
            <div class="card-header">Lessons</div>
            <div class="card-body">
                <h4 class="card-title">Lessons</h4>
                <p class="card-text">Click here to activate/deactivate, add, update or delete lessons</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;" [routerLink]="['/backoffice/quizzes']" routerLinkActive="router-link-active" >
            <div class="card-header">Quizzes</div>
            <div class="card-body">
                <h4 class="card-title">Quizzes</h4>
                <p class="card-text">Click here to activate/deactivate, add, update or delete quizzes</p>
            </div>
    </div>
</div>


