<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">CommunApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item" *ngIf="isLoggedIn()">
            <a class="nav-link" [routerLink]="['lessons']" routerLinkActive="router-link-active" [routerLinkActiveOptions]= "{exact: true}">Lessons</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn()">
            <a class="nav-link" [routerLink]="['login']" routerLinkActive="router-link-active" [routerLinkActiveOptions]= "{exact: true}">Login</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn()">
            <a class="nav-link" [routerLink]="['register']" routerLinkActive="router-link-active" [routerLinkActiveOptions]= "{exact: true}">Register</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn()">
            <a class="nav-link" [routerLink]="['profile']" routerLinkActive="router-link-active" [routerLinkActiveOptions]= "{exact: true}">Profile</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" href="" (click) ="onLogoutClick()">Logout</a>
          </li>
          <li class="nav-item dropdown" *ngIf="isLoggedIn()">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Backoffice</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['backoffice/lessons']" routerLinkActive="router-link-active" >Lessons</a>
              <a class="dropdown-item" [routerLink]="['backoffice/quizzes']" routerLinkActive="router-link-active" >Quizzes</a>
              <a class="dropdown-item" [routerLink]="['backoffice/questions']" routerLinkActive="router-link-active">Questions</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['backoffice/users']" routerLinkActive="router-link-active">Users</a>
            </div>
          </li>
        </ul>
        <form>
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>